body{
    background-color: rgb(241,222,184);
}
.container{
    background-color: white;
    margin-top: 150px;
    border: 2px solid black;
    height: 100%;
    width: 400px;
}

input[type=text]{
    width: 350px;
    text-align: center;
    margin: 30px 20px;
}

li{
    display: flex;
    justify-content:space-evenly;
}